// reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	// position: relative;
	font-size: 14px;
	background-color: #9AD5E3;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

tr {
	text-align: center;
}

// main
$main-color: #5cb85c;
$shadow-color: #648992;
$res-width: 800px;

.warpper {
	position: relative;
}

.color-bar {
	position: absolute;
	bottom: 0;
	height: 204px;
	width: 100%;
	background-color: #68ABB3;
}

.main-holder {
	position: relative;
	width: 598px;
	margin: 0 auto;
	margin-top: 100px;
}

.mian-title {
	padding: 0 10px 30px;
	
	& h1 {
		font-size: 5em;
		color: #69737E;
	}
	& h2 {
		font-size: 2em;
		color: #4A4A4A;
	}
}

.search-holder {
	padding: 10px 10px 60px;
	
	.search-error {
		font-size: 18px;
		color: orangered;
		font-weight: bold;
		margin-top: 20px;
		margin-left: 20px;
		&.hide {
			opacity: 0;
		}
	}
}

.input-group {
	display: table;
	width: 100%;
	box-shadow: 2px 2px 1px $shadow-color;
	height: 51px;
	
	& input {
		font-size: 20px;
		padding: 14px 20px;
		display: table-cell;
		width: 100%;
		border: none;
		border-radius: 0;
	}
	
	& span {
		display: table-cell;
		text-align: center;
		// line-height: 1;
		vertical-align: middle;
		
		& button {
			display: block;
			height: 100%;
		    width: 100%;
			padding: 14px 20px;
		    font-size: 20px;
		    cursor: pointer;
			background-color: $main-color;
			color: white;
			border: none;
			
			&:hover, &:active {
				background-color: lighten($main-color, 10%)
			}
		}
	}
}


// result page
.result {
	position: absolute;
	top: 0;
	right: -100%;
	width: 100%;
	display: none;
	background-color: #9AD5E3;
	
	box-shadow: -2px 0 1px $shadow-color;
	
	&.slide-out {
		transform: translate3d(-100%, 0, 0);
		display: block;
	}
}

.res-header {
	height: 150px;
	background-color: #EEE;
	box-shadow: 0 2px 1px $shadow-color;
}

.header-content {
	width: $res-width;
	margin: 0 auto;
	padding: 40px 10px 10px;
	
	&:after {
		display: block;
		content: "";
		clear: both;
	}
	
	& h3 {
		font-size: 2.5em;
		color: #69737E;
		margin-bottom: 5px;
	}
	
	& h4 {
		font-size: 1.5em;
		color: #4A4A4A;
		font-weight: normal;
	}
}

.home-link {
	position: absolute;
    right: 0;
    top: 50px;
    font-size: 1.5em;
    text-decoration: none;
    color: #5cb85c;
}

.res-content {
	width: $res-width;
	margin: 0 auto;
	padding: 20px 10px 10px;
	
	& .search-tip {
		font-size: 1.5em;
		margin-bottom: 10px;
	}
	& table {
		width: 100%;
		border-spacing: 0; 
    	border-collapse: collapse;
		
		& tr:nth-child(2n) {
			background-color: #fff;
		}
		
		& th {
			padding: 6px;
		}
		& td {
			padding: 6px;
			border-top: 1px solid #ddd;
		}
	}
}